@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">悟空来了</h2>
    <h2 class="display-4">八戒溜了</h2>
    <h3 class="display-4">八戒：大师兄，师傅被妖怪抓走啦！</h3>
    <h3 class="display-4">八戒：猴哥,等等我！</h3>
    <h3 class="display-4">第四次测试</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
